cover
	h1 Literatuurstudie Docker
	h2 Wanneer biedt Docker toegevoegde waarde?

	//- Naast een functionele titel vermeld je de auteur(s), het instituut en de opleiding, cursus, naam docent, plaats en jaar.
	bottom
		p
			left Auteurs:
			| Malcolm Kindermans en Maurits van Mastrigt
		p
			left Instituut:
			| Hanzehogeschool Groningen
		p
			left Opdracht:
			| Specialisatie Software Engineering, thema 4.2, leertaak 3.
		p
			left Docent:
			| Jacbob de Boer
		p
			left Datum:
			| 6 januari 2015
