meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')

link(href='http://fonts.googleapis.com/css?family=Average', rel='stylesheet', type='text/css')

script(src='../assets/zepto.js')
script(src='../assets/moment.js')



//- chapter
//- 	include:markdown ../chapters/samenvatting/samenvatting.md

//- include chapters/index.jade

chapter
	include:markdown ../chapters/inleiding/inleiding.md
	include:markdown ../chapters/inleiding/aanleiding.md
	include:markdown ../chapters/inleiding/context.md
//- 	include:markdown ../chapters/inleiding/probleem.md
//- 	include:markdown ../chapters/inleiding/waarom-relevant.md
//- 	include:markdown ../chapters/inleiding/stakeholders.md
//- 	include:markdown ../chapters/inleiding/opzet-onderzoek.md

//- chapter
//- 	include:markdown ../chapters/doelstelling/doelstelling.md

//- chapter
//- 	include:markdown ../chapters/literatuuronderzoek/literatuuronderzoek.md
//- 	include:markdown ../chapters/literatuuronderzoek/wat-is-docker.md
//- 	include:markdown ../chapters/literatuuronderzoek/waarom-docker.md
//- 	include:markdown ../chapters/literatuuronderzoek/architectuur.md
//- 	include:markdown ../chapters/literatuuronderzoek/waar-in-ontwikkelproces.md
//- 	include:markdown ../chapters/literatuuronderzoek/maturity-en-community.md
//- 	include:markdown ../chapters/literatuuronderzoek/leercurve.md
//- 	include:markdown ../chapters/literatuuronderzoek/welke-soort-bedrijven-relevant.md
//- 	include:markdown ../chapters/literatuuronderzoek/welke-bedrijven-gebruiken-docker.md

//- chapter
//- 	include:markdown ../chapters/testconfiguratie/testconfiguratie.md
//- 	include:markdown ../chapters/testconfiguratie/installatie.md
//- 	include:markdown ../chapters/testconfiguratie/opzet.md

//- chapter
//- 	include:markdown ../chapters/testresultaten/testresultaten.md
//- 	include:markdown ../chapters/testresultaten/bevindingen.md
//- 	include:markdown ../chapters/testresultaten/resultaten.md

//- chapter
//- 	include:markdown ../chapters/conclusie/conclusie.md
//- 	include:markdown ../chapters/conclusie/discussie.md

//- chapter
//- 	include:markdown ../chapters/bronnen/bronnen.md



script.
	$('body > chapter')
		.first().addClass('first').end()
		.last().addClass('last');
